/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: 'Inter', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url('./assets/home-background-wallpaper.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exclusive-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url('./assets/exclusive-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cosmetics-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url('./assets/mesoestetic_blemiderm_pack_0001.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fruit-hero-bg {
  background-image: 
    url('./assets/fruit-hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-lfb-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url('./assets/about.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accessories-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url('./assets/bcn_meso_body_roller_0002.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url('./assets/about.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-bg {
  background-image: linear-gradient(rgba(4, 9, 30, 0.4), rgba(4, 9, 30, 0.4)),
    url('./assets/contact-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.heo-bg {
  background-image: url("./assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile-bg {
  background-image: url("./assets/mobile-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-bg {
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.7), /* darker at top */
    rgba(0, 0, 0, 0.3)  /* lighter at bottom */
  ),
  url("./assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}